@import './vars.scss';
@import './mixins.scss';

@include kalameh-font-face();
.body {
  height: 100vh;
  font-family: 'Kalameh';
  font-style: normal;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: $bodyColor;

  &__header {
    position: fixed;
    top: 0;
    z-index: 10;
  }
}
.brand {
  @include flex-direction();

  
  &__logo {
    position: relative;
    margin: 0px 15px;
  }

  &__theme-name {
    font-family: 'Kalameh';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: right;
    color: $primaryColor;
  }

  &__theme-name-plus {
    color: $primaryColor;
    font-family: 'Kalameh';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: right;
  }

  .logo {
    height: 33.941125497px;
    width: 61px;

    &__rec1 {
      position: absolute;
      border: 7px solid #6D6C80;
      height: 24px;
      width: 24px;
      transform: rotate(-45deg);
      border-radius: 4px;
    }

    &__rec2 {
      position: absolute;
      border: 7px solid $primaryColor;
      height: 24px;
      width: 24px;
      right: 28px;
      transform: rotate(-45deg);
      border-radius: 4px;
    }

  }
}

.header {
  @include flex-direction();
  background-color: $bodyColor;
  justify-content: right;
  align-items: center;
  padding-right: 20%;
  width: 100%;
  height: 65px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }

.main {
  height: 100%;
  padding-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerCard {
  @include flex-direction(column);
  align-items: center;
  margin: 212px 0px 480px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px;

  &__conteiner__text {
    align-self:flex-start;
    width: fit-content;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  &__title {
    margin: 50px 180px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
  &__detail {
    margin: 0px 180px 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    color: #8593A6;
  }
  .registerCard-inputBox {
    @include flex-direction(column);
    align-items: center;
    margin: 40px 60px 40px;
    background: $bodyColor;

    &__text {
      align-self:flex-start;
      width: fit-content;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
    }
    &__box {
      padding: 7px 16px;
      width: 360px;
      height: 46px;
      font-family: 'Kalameh';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      background: #FAFBFC;
      border: 0;
      border-radius: 5px;
      box-shadow: 0px 3px rgba(17, 58, 97, 0.5);
    }
    &__error-text {
      display: none;
      width: 100%;
      color:rgba(148, 8, 8);
      font-family: 'Kalameh';
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 19px;
    }

    &--error {
      
      & .registerCard-inputBox__error-text {
        display: block;
      }
      
      & .registerCard-inputBox__box {
        box-shadow: 0px 3px $errorColor;
        background-color: $imageboxColor;
      }

    }
  }
  &__submit {
    align-items: center;
    padding: 8px 24px;
    margin: 0 0 50px;
    width: 167px;
    height: 46px;
    gap: 10px;
    font-family: "Kalameh";
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
    background: $primaryColor;
    border-radius: 4px;
    border: 0;
  }

  .registerCard-inputImage {
    @include flex-direction(column);
    position: relative;
    margin: 40px 60px 40px;
    align-items: center;
    border-radius: 12px;
    background: $bodyColor;

    &__text {
      display: flex;
      align-self:flex-start;
      width: fit-content;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
    }
    &__box {
      @include flex-direction(row);
      justify-content: space-between;
      align-items: center;
      padding: 8px 12px 8px 24px;
      width: 360px;
      height: 76px;
      border-radius: 12px;
      background-color: $imageboxColor;
    }
    &__avatar-figure {
      width: 60px;
      height: 60px;
      margin: 0;
      background-color: $imageboxColor;
      box-shadow: none
    }
    &__avatar-input {
      visibility: hidden;
      display: none;
    }
    &__avatar-label {
      margin: 0;
      width: 81px;
      height: 24px;
      font-family: 'Kalameh';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: $primaryColor;
      line-height: 24px;
      background-color: $imageboxColor;
      box-shadow:none;
    }
  }
}

.registerCard2 {
  @include flex-direction(column);
  align-items: center;
  justify-content: center;
  margin: 212px 0px 480px;

  &__figure {
  }

  &__text {
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  &__submit {
    padding: 8px 24px;
    margin: 0 0 50px;
    width: 167px;
    height: 46px;
    align-items: center;
    gap: 10px;
    font-family: "Kalameh";
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
    background: $primaryColor;
    border-radius: 4px;
    border: 0;

  }

}

.footer {

  @include flex-direction();
  min-height: 131px;
  background-color: #333333;
  background-image: url("../../assets/images/Rectangle 81.png"), url("../../assets/images/Pattern.png");
  align-items: center;
  justify-content: space-around;

  &__right {
    @include flex-direction();
    gap: 30px;

  }

  &__brand {
    filter: brightness(0) invert(1);
  }

  &__desc {
    max-width: 670px;
    color: white;
  }

  &__links {
    @include flex-direction();
    max-width: 400px;
    justify-content: space-between;
    gap: 10px;
  }

  &__link {
    color: white;
    font-size: 18px;
  }
  @media screen and (max-width: 700px) {
    @include flex-direction(column);
    justify-content: center;
    align-items: center;
    &__right {
      @include flex-direction(column);
      justify-content: center;
      align-items: center;
    }
  }

}

