@import './vars.scss';
@import './mixins.scss';

@include kalameh-font-face();
.body {
  font-family: 'Kalameh';
  font-style: normal;
  margin: 0;

  &__header {
    position: fixed;
    top: 0;
    z-index: 10;
  }
}
.brand {
  @include flex-direction();

  &__logo {
    position: relative;
    margin: 0px 15px;
  }

  &__theme-name {
    font-family: 'Kalameh';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: right;
    color: $primaryColor;
  }

  &__theme-name-plus {
    color: $primaryColor;
    font-family: 'Kalameh';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: right;
  }

  .logo {
    height: 33.941125497px;
    width: 61px;

    &__rec1 {
      position: absolute;
      border: 7px solid #6D6C80;
      height: 24px;
      width: 24px;
      transform: rotate(-45deg);
      border-radius: 4px;
    }

    &__rec2 {
      position: absolute;
      border: 7px solid $primaryColor;
      height: 24px;
      width: 24px;
      right: 28px;
      transform: rotate(-45deg);
      border-radius: 4px;
    }

  }
}

.header {
  @include flex-direction();
  background-color: $headColor;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 65px;


  &__left {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__search {
    height: fit-content;
  }

  &__button {
    font-family: 'Kalameh';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $primaryColor;

    border: 1px solid rgba(36, 52, 71, 0.15);
    border-radius: 4px;
    padding: 8px 24px;
  }
}
.tag {
  padding: 2px 8px 3px;
  background: #DEEAF5;
  border-radius: 4px;
  color: $primaryColor;
  font-family: 'Kalameh';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: right;
}

.card {
  @include flex-direction(column);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 10px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 4px 10px 35px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 12px;

  &__header {
    @include flex-direction();
    align-items: center;
    width: 100%
  }

  &__auth-figure {
    margin: 0 0 0 12px;
  }

  &__header-left {
    @include flex-direction(column);
  }

  &__author-name {
    font-size: 14px;
    color: #FFFF;
  }

  &__author-name--color-dark {
    color: #28394F;
  }

  &__inner-image {
    width: 100%;
    margin: 0;
    @include flex-direction();
    justify-content: center;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #c2ddf68c;
      transform-origin: 0 bottom 0;
      transform: scaleY(0);
      transition: .4s ease-out;
    }

    & > img {
      width: 100%;
      height: auto;
    }
  }

  &:hover &__inner-image:before {
    transform: scaleY(1);
  }

  &__date {
    font-size: 11px;
    color: #CCCC;
  }

  &__date--color-dark {
    color: #8593A6;
  }

  &__title {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: #FFFF;
  }

  &__title--color-dark {
    color: #243447;
  }

  &__summery {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: #CCCCCC;
  }

  &__summery--color-dark {
    color: #445161;
  }

  &__footer {
    @include flex-direction();
    color: white;
    width: 100%;
    align-items: baseline;
    gap: 10px;
  }

  &__footer--color-dark {
    color: #8593A6;
  }

  &__study-duration {
    color: #CCCCCC;
    font-weight: 600;
    font-size: 11px;
  }

  &__study-duration--color-dark {
    color: #8593A6;
  }

}

.card-2 {
  @include flex-direction();
  justify-content: center;
  flex-wrap: wrap;

  &__outer-image {
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #c2ddf68c;
      transform-origin: 0 bottom 0;
      transform: scaleY(0);
      transition: .4s ease-out;
    }

    & > img {
      width: 100%;
      height: auto;
    }

  }

  &:hover &__outer-image:before {
    transform: scaleY(1);
  }

  &__card {
    width: 735px;
    box-shadow: none;
    background: transparent;;
  }
}

.main {
  padding-top: 65px;

  &__scroll-bar {
    position: relative;
  }

  .scroll-bar {
    @include flex-direction(column);
    overflow: hidden;

    &__images {
      @include flex-direction();
      overflow: hidden;
      width: fit-content;
    }

    &__figure {
      margin: 0px;
    }

    &__image {
      width: 100vw;
    }

    &__content {
      position: absolute;
      @include flex-direction();
      height: 100%;
      justify-content: space-between;
      width: 100%;
      align-items: center;

    }

    @media screen and (max-width: 1150px) {
      & .card {
        display: none;
      }
    }

    &__arrow-left {
      @include scroll-bar-arrow(180deg);
      margin: 25px;
    }

    &__main {
      @include flex-direction(column);
      height: 100%;
      align-items: center;
      justify-content: end;

    }

    &__navigation {
      @include flex-direction();
      padding: 32px 0;
      gap: 12px;
    }

    &__nav-dot {
      width: 10px;
      height: 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
    }

    &__nav-dot--activate {
      width: 10px;
      height: 10px;
      background: #ffffff;
      border-radius: 50%;
    }

    &__arrow-right {
      @include scroll-bar-arrow();
      margin: 25px;
    }
  }
  .horizontal-card-container {
    @include flex-direction();
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    flex-wrap: wrap;

    &__card {
      width: 450px;
      box-shadow: none;
      background: transparent;
    }
  }

  .vertical-card-container {
    @include flex-direction(column);
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
  }
  .article {
    margin: auto;
    max-width: 798px;

    &__header {
      @include flex-direction();
      align-items: center;
      width: 100%
    }

    &__auth-figure {
      margin: 0 0 0 12px;
    }

    &__header-left {
      @include flex-direction(column);
    }

    &__author-name {
      font-size: 14px;
      color: #28394F;
    }

    &__date {
      color: #8593A6;
      font-weight: 600;
      font-size: 11px;
    }

    &__title {
      font-size: 32px;
      width: 100%;
      font-weight: 700;
    }

    &__footer {
      @include flex-direction();
      color: #8593A6;
      width: 100%;
      align-items: baseline;
      gap: 10px;
    }

    &__study-duration {
      color: #8593A6;
      font-weight: 600;
      font-size: 11px;
    }

    &__image {
      width: 100%;
      margin: 0;
      @include flex-direction();
      justify-content: center;

      & > img {
        width: 100%;
        height: auto;
      }
    }

  }
  .horizontal-card-container-2 {
    @include flex-direction(column);
    max-width: 1400px;
    margin: auto;

    &__title {
      font-weight: 700;
      font-size: 20px;
      border-bottom: 1.5px solid #208BEE;
      width: fit-content;
    }

    &__horizontal-card-container {
      border-top: 1px solid #208BEE;

    }

  }
  .comments {
    @include flex-direction(column);
    margin: auto;
    max-width: 798px;

    &__title {
      font-weight: 700;
      font-size: 20px;
      border-bottom: 1.5px solid #208BEE;
      width: fit-content;
      justify-content: space-between;
      margin: 0;
    }

    .comments-card {
      border-top: 1px solid #208BEE;
      border-bottom: 1px solid #208BEE;

      &__detail {
        @include flex-direction();
        justify-content: space-between;
      }

      &__author-name {
        font-weight: 700;
        font-size: 16px;
      }

      &__date {
        font-weight: 600;
        font-size: 11px;
        line-height: 19px;
        color: #8593A6;
      }

      &__body {

      }
    }

  }
  .commenting{
    @include flex-direction(column);
    margin: auto;
    max-width: 798px;
    &__title{
      font-weight: 600;
      font-size: 18px
    }
    &__form{
      @include flex-direction(column);
    }
    &__form-row{
      @include flex-direction();
      gap: 15px;
    }
    &__email-input{
      flex-grow: 2;
    }
    .input{
      height: 46px;
      border: 0;
      border-bottom: 2.5px solid navy;
      &::placeholder{
        font-family: 'Kalameh';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        /* identical to box height, or 200% */

        text-align: right;

        /* Text 3 */

        color: #8593A6;

      }
    }
    &__submit{
      background: $primaryColor;
      border-radius: 4px;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      text-align: right;
      padding: 8px 24px;
      color: #FFFFFF;
      width: fit-content;
      align-self: end;
      margin:20px 0 100px 0 ;
    }
    @media screen and (max-width: 700px) {
      &__form-row{
        @include flex-direction(column)
      }
    }
  }
}

.footer {

  @include flex-direction();
  min-height: 131px;
  background-color: #333333;
  background-image: url("../../assets/images/Rectangle 81.png"), url("../../assets/images/Pattern.png");
  align-items: center;
  justify-content: space-around;

  &__right {
    @include flex-direction();
    gap: 30px;

  }

  &__brand {
    filter: brightness(0) invert(1);
  }

  &__desc {
    max-width: 670px;
    color: white;
  }

  &__links {
    @include flex-direction();
    max-width: 400px;
    justify-content: space-between;
    gap: 10px;
  }

  &__link {
    color: white;
    font-size: 18px;
  }
  @media screen and (max-width: 700px) {
    @include flex-direction(column);
    justify-content: center;
    align-items: center;
    &__right {
      @include flex-direction(column);
      justify-content: center;
      align-items: center;
    }
  }

}

